---
import Layout from '../layouts/Layout.astro';
import { getLangFromUrl, getLocalizedPathname, useTranslations } from '@/i18n/utils';
import Navbar from '@/components/Navbar.astro';
import Experience from '@/components/Experience.astro';
import Tech from '@/components/Tech.astro';
import Works from '@/components/Works.astro';
import PoularPosts from '@/components/PoularPosts.astro';
import Contact from '@/components/Contact.astro';
import { Header } from '@/components/Header';
import {AboutMe} from '@/components/AboutMe';

const { pathname } = Astro.url;


const lang = getLangFromUrl(Astro.url);
const href = getLocalizedPathname(pathname, "es");
const href2= getLocalizedPathname(pathname, "en");

const t = useTranslations(lang);

export async function getStaticPaths() {
  return ["en","es"].map((lang) => {
    return { params: { lang } };
  });
}

---

<Layout title={t("site.title")} description={t("site.description")} lang={lang}>
  <div class="relative z-0 bg-primary-2">
	<div class="bg-personal-bg bg-cover bg-no-repeat bg-center">
		<Navbar />
		<Header client:load  transition:persist lang={lang}/>
	</div>
	<AboutMe  client:load  transition:persist />
	<Experience />
	<Tech />
	<Works />
	<PoularPosts />
	<div class="relative z-0">
		<Contact />
	</div>
  </div>
</Layout>

<style>

</style>

